body  {
    margin: 0;
    background: black;
}

.left {
    background-image: url("./bckimg.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 58%;
    height: 95vh;

    text-align: center;
}
.right {
    background: black;
    width: 930;
    height: 920;
}

.left-bird {
    fill: white;
    width: 400;
    height: 400;
    margin-top: 25%;
}
.right-bird {
    fill: rgb(214, 217, 219);
    width: 45;
    height: 45;
    margin-top: 140;
    margin-bottom: 10;
    margin-left: 35;
}

.links {
    background: black;
    height: 3.5%;
    padding-top: 15px;
    text-align: center;
}
.t {
    color: rgb(113, 118, 123);
    margin-left: 5px;
    margin-right: 5px;
    font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

#happening-now {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color: rgb(231, 233, 234);
    font-size: 65px;
    position: relative;
    top: 100;
    right: 50;
}

#join-twitter {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color: rgb(231, 233, 234);
    font-size: 30px;
    position: relative;
    top: 140;
    left: 40;
}

.btn {
    background: white;
    text-align: center;
    padding: 8 70;
    border-radius: 100px;
    width: 300;
    position: relative;
    bottom: 25;
    margin: 10 0;
}
.btn-icon {
    width: 20;
    height: 20;
    vertical-align: middle;
}
.text {
    vertical-align: middle;
}

.grey {
    width: 130px;
    height: 1px;
    background: rgb(47, 51, 54);
    vertical-align: middle;
    position: relative;
    bottom: 30;
}

#have-account {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color: white;
    font-size: 16;
}
#agreements {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color:rgb(113, 118, 123);
    font-size: 11; 
    position:relative;
    bottom:50;
}
#separator {
    font-size: 15; 
    vertical-align: middle;
    position: relative; 
    bottom: 30;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}
